:root {
  --color-bg: var(--figma-color-bg);
  --color-bg-hover: var(--figma-color-bg-disabled-secondary);
  --color-bg-active: var(--figma-color-bg-pressed);
  --color-bg-inverse: var(--figma-color-bg-inverse);
  --color-border: var(--figma-color-border);
  --color-border-focus: var(--figma-color-border-selected);
  --color-icon: var(--figma-color-icon);
  --color-text: var(--figma-color-text);
  --color-bg-brand: var(--figma-color-bg-brand);
  --color-bg-brand-hover: var(--figma-color-bg-brand-hover);
  --color-bg-brand-active: var(--figma-color-bg-brand-pressed);
  --color-border-brand: var(--figma-color-border-brand);
  --color-border-brand-focus: var(--figma-color-border-selected-strong);
  --color-text-brand: var(--figma-color-text-onbrand);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body,
main,
#root {
  height: 100%;
}

body {
  padding: 0.5rem;
}

body,
input,
button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  text-align: center;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  margin: 0;
}

.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 0;
  padding-bottom: 2rem;
}

.dataInsert {
  height: 8rem;
  display: flex;
  align-items: end;
  background: var(--color-bg);
  position: fixed;
  top: 0
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.gap-4 {
  gap: 1rem;
}

.inputValue {
  width: 100%;
  font-size: 2.5rem;
  height: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
  border: none;
  border-bottom: 1px solid var(--color-border);
}

input {
  background: 1px solid var(--color-bg);
  border: 1px solid var(--color-border);
  color: 1px solid var(--color-text);
  padding: 0.5rem;
}

input:focus-visible {
  border-color: var(--color-border-focus);
  outline-color: var(--color-border-focus);
}


main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}

section>*+* {
  margin-top: 0.5rem;
}

footer>*+* {
  margin-left: 0.5rem;
}

/* img {
  height: auto;
  width: 2rem;
} */