.footer {
  position: fixed;
  padding: 0 0.5rem;
  bottom: 0;
  left: 0;
  height: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--color-border);
  font-size: 0.75rem;
  background-color: var(--color-bg);
}

.footer a {
  color: var(--color-text);
  text-decoration: none;
}